/*#menu > li{
	display: inline-block!important;
	border-radius: 67px;
}
*/
#menu {
	list-style-type:none;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 120%;
	font-family: Gabriola;
	}
#menu li {
	list-style: none;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 14%;
	text-align: center;
	background: #171717;
	position: relative;
	padding-top: 0%;
}
#begin li{
	list-style: none;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 15%;
	text-align: center;
	background: #171717;
	position: relative;
	padding-top: 0%;
	border-radius: 50px 0px 0px 50px;
}
#end li{
	list-style: none;
	float: left;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 15%;
	text-align: center;
	background: #171717;
	position: relative;
	padding-top: 0%;
	border-radius: 0px 50px 50px 0px;
}

#menu li ul {
	list-style: none;
	padding: 0px;
	margin: 0;
	width: 190px;
	display: none;
	position: absolute;
	left: 0;
	top: 33px;
	/*border-radius: 50px;*/
	}
#first li {/*submenu*/
	float: none;
	height: 35px;
	margin: 0;
	width: 124%;
	text-align: center;
	background: #7F7F7F;
	border: 0.5% solid CornflowerBlue;
	border: 1% inset yellow;
	border-radius:0% 50% 0% 0%;
	}
#mid li {/*submenu*/
	float: none;
	height: 35px;
	margin: 0;
	width: 124%;
	text-align: center;
	background: #7F7F7F;
	border: 0.5% solid CornflowerBlue;
	border: 1% inset yellow;
	border-radius:0% 0% 0%;
	}
#last li {/*submenu*/
	float: none;
	height: 35px;
	margin: 0;
	width: 124%;
	text-align: center;
	background: #7F7F7F;
	border: 0.5% solid CornflowerBlue;
	border: 1% inset yellow;
	border-radius:0% 0% 0% 50%;
	}
#footer {
    min-width: 70%;
    margin: 5% auto 0;
    height: 5%;
    position: relative;
}
#copy {
padding-right:45%;
padding-top:16%;
float:right;
}
	
#menu li a {
	display: block;
	width: 170px;
	height: 33px;
	color: #fff;
	text-decoration: none;
	}
#menu li:hover ul, #menu li.jshover ul {
	display: block;
	}
#menu li:hover, #menu li.jshover {
	background: #424242;
	}